.wrapper {
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4623a;
  }

  #createBtn {
    margin: auto;
    top:50%; 
    left:50%;
  }
  
  .form-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 80%;
    min-width: 100px;
    min-height: 550px;
    border-radius: 6px;
    background-color: #fefefe;
  }
  
  .form-wrapper > h2 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 0.25em;
    color: #222;
  }
  
  Form{
      padding:0;
  }
  
  form {
    width: 100%;
    justify-content: center;
  }
  
  .info {
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
  label {
    margin-bottom: 0.5em;
    color: #444;
    font-weight: lighter;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d6d1d5;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #bbb;
  }
  
  button {
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 	0.938em;
    border: none;
    border-radius: 4px;
    background-color: #f4623a;
    color: #fefefe;
  }
  button:hover {
    background-color: #4A4E69;
    color: #fefefe;
  }
  
  .error {
    color:#db2269;
    font-size: 0.9em;
    display: relative;
  }
  
  .fullName,
  .email,
  .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .fullName {
    width: 100%;
  }
  
  .email,
  .password {
    width: 100%;
  }
  
  .submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }