
h1{
    margin-top: 100px;
    margin-bottom: 20px;
}

#loginBtn {
    top:50%; 
    left:50%;
}

Form {
display: inline-block;
margin: 0 auto;
padding-top: 20px;
padding-bottom: 1rem;
max-width: 50%;
margin-top: 50px;
border-radius: 6px;
background-color: #fefefe;
}
 
/* CANNOT GET THIS BUTTON TO BE CENTERED OR SMALLER, its overriden by CSS somewhere else */
.submitButton{
    margin: 20px;
}

.entireContainer{
    /* background-color: #f4623a; */
    text-align: center;
}