Form {
margin: 0 auto;
padding-top: 1rem;
padding-bottom: 1rem;
max-width: 50%;
text-align: center;
margin-top: 100px;
}
 
/* CANNOT GET THIS BUTTON TO BE CENTERED OR SMALLER, its overriden by CSS somewhere else */
.submitButton{
    /* margin: 0px 0px 0px 0px; */
    margin: 0 auto;
}